.idea
*.log
*.iml
vendor
package-lock.json
.DS_Store
./*.yaml
database*
target/
integration_tests/test/abi/PlasmaMVP.abi.json
pkg/eth/contracts/*.go
pkg/eth/contracts/*.abi
.ganache
.database
pkg/rpc/pb/*.go