db: "{{ database_dir }}"
node-url: "http://localhost:8545"
contract-addr: "{{ plasma_address }}"
priority-queue-contract-addr: "{{ pq_address }}"
keystore-dir: "{{ keystore_dir }}"
keystore-file: "{{ keystore_file }}"
user-address: "{{ user_address }}"
sign-passphrase: ""
