module.exports = {
    contracts_build_directory: "./contracts",
    networks: {
        local: {
            host: '127.0.0.1',
            port: {{ geth_port }},
            network_id: 15,
            gas: 4000000
        }
    }
};
